#myLogo {
    position:absolute;
    left:0;
    top:0;
}
#myHeader {
   color: rgb(228, 227, 227)0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 40px;
    text-align: right;
    background-color:#66ccff;
    font-weight: bold;
}
#liHome {
   /*
   background-color: #ff66bf;
*/
}

li{
    background-color: rgb(192, 192, 192);
    margin: 30px 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: black;
    text-decoration: none;
    list-style: none;
    font-weight: 900;
  }
/*
#myPost {
display: none;
}
*/


#pageTitle {
    text-align: right;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: -5px 0;
}
#pageAbout {
    text-align: right;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: -5px 0;
}
#pageAuthor {
    text-align: right;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 0px 0;

}
p {
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding-left: 50px;
}
#myPhotos{
    
    float: right;
    
} 
.weatherApi {
    text-align: center;
    margin: 30px 0;
    background-color: rgb(228, 227, 227);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background: #f8f8f8;
  }
  
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }

